<footer style="display: flex;align-items: center;justify-content: center;background-color: #f8f9fa;" id="content">
    <div class="row sidebar-social" style="width: 100%;">
        <div class="col-2" style="justify-content: center;display: flex;width:20%" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/reports']">
                <i class="fa fa-pie-chart fa-2x"></i>
                <span>Report</span>
            </a>
        </div>
        <div class="col-2" style="justify-content: center;display: flex;width:20%" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/expense']">
                <i class="fa fa-list-alt fa-2x"></i>
                <span>Expenses</span>
            </a>
        </div>
        <div class="col-2" style="justify-content: center;display: flex;width:20%" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/bank']">
                <i class="fa fa-university fa-2x"></i>
                <span style="margin-left:0.3em">Bank</span>
            </a>
        </div>
        <!-- <div class="col-2" style="justify-content: center;display: flex;width:20%" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/income']" >
                <i class="fa fa-money fa-2x"></i>
                <span>Income</span>
            </a>
        </div> -->
        <div class="col-2" style="justify-content: center;display: flex;width:20%" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/budget']">
                <i class="fa fa-credit-card fa-2x"></i>
                <span>Budget</span>
            </a>
        </div>
        <div class="col-2" style="justify-content: center;display: flex;width:20%" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/category']">
                <i class="fa fa-tags fa-2x"></i>
                <span>Category</span>
            </a>
        </div>
    </div>
</footer>