.hideBtn {
    border: none;
    background: none;
}

.primary-color {
    color: #6d9773
}

.red-color {
    color: #dc3545
}

.grey-color {
    color: #6c757d
}

.clear {
    margin: 4em;
}

table tr td,
table tr th,
select,
option {
    background-color: #fff !important;
}

input {
    width: 50%;
    height: 2.5em;
    font-size: 1em;
}

.table-container {
    max-height: 65vh;
    overflow-y: auto;
}

.reportBtn {
    padding: 0.5em;
    border-top: 1px solid #6d9773;
    border-bottom: 1px solid #6d9773;
    border-right: 1px solid #fff;
    border-left: none;
    
}