<nav class="navbar navbar-light bg-light navbar-expand" style="height: 3.5em;">
    <div class="container-flui">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse sidebar-social" id="navbarSupportedContent">
            <ul style="display: flex;list-style: none;justify-content:center;">
                <li class="nav-item" style="padding-right:1em">
                    <a class="nav-link" [routerLink]="['/expense']" routerLinkActive="active">
                        <i class="fa fa-list-alt blue-color"></i><span>Expenses</span></a>
                </li>
                <li class="nav-item" style="padding-right:1em">
                    <a class="nav-link" [routerLink]="['/income']" routerLinkActive="active">
                        <i class="fa fa-money blue-color"></i><span>Income</span></a>
                </li>
                <li class="nav-item" style="padding-right:1em">
                    <a class="nav-link" [routerLink]="['/budget']" routerLinkActive="active">
                        <i class="fa fa-list-alt blue-color"></i><span>Budget</span></a>
                </li>
                <li class="nav-item" style="padding-right:1em">
                    <a class="nav-link" [routerLink]="['/category']" routerLinkActive="active">
                        <i class="fa fa-tags blue-color"></i><span>Categories</span></a>
                </li>
                <li class="nav-item" style="padding-right:1em">
                    <a class="nav-link" [routerLink]="['/reports']" routerLinkActive="active">
                        <i class="fa fa-pie-chart blue-color"></i><span>Reports</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>