<div *ngIf="!loading">
    <div style="padding:0.7em;padding-top:1em;padding-bottom:1em; background-color: #39623f !important;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); border: none !important;">
        <h5 style="font-weight: bold;font-family: auto;text-align: left;color: #fff;">Expense Tracker</h5>
        <div class="row">
            <div class="col-5">
                <button type="button" class="btn" style="background: #6d9773;"
                (click)="addAllBudget()">
                <i class="fa fa-plus"><span style="margin-left:5px">Add Budgets</span></i>
            </button>
            </div>
            <div class="col-5">
                <span style="float: right; font-weight: bold; color:#6d9773">Total : {{total |
                    number:'1.2-2'}}</span>
            </div>
            <div class="col-2">
                <button type="button" style="float: right;background-color: #6d9773;" class="btn"
                    (click)="filterOn = !filterOn"><i class="fa fa-filter">
                        <span style="margin-left:5px"></span></i>
                </button>
            </div>
        </div>
        <div>
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
                <div style="text-align: center;margin-top:1em" *ngIf="filterOn" class="row">
                    <div class="col-5">
                        <select class="form-select" formControlName="filterMonth">
                            <option *ngFor="let month of months">
                                {{month}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select" formControlName="filterYear">
                            <option *ngFor="let year of years">
                                {{year}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn" style="background: #6d9773;"><i class="fa fa-search">
                                <span style="margin-left:5px"></span></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="count > 0" class="table-container">
        <div *ngFor="let parent of groupedDataKeys()" style="padding:0.1em; margin:0.5em;margin-bottom: 1em;">
            <h3 style="color: #6d9773; ">{{parent}}</h3>
            <div *ngFor="let subCategory of groupedData[parent] | keys">
                <h5 style="padding:0.5em;background-color: #6d9773;color:white">{{subCategory.key}}
                </h5>
                <div *ngFor="let categoryObj of subCategory.value">
                    <button class="form-grou row" [matMenuTriggerFor]="afterMenu"
                        style="width: -webkit-fill-available;padding-top: 0.5em;padding-bottom: 0.5em;padding-bottom: 0.5em;border: none;background-color: #eceae875; border-radius: 10px;"
                        [ngStyle]="{'margin-bottom': subCategory.value.length > 0 ? '0.3em': '0px'}">
                        <div class="col-7" style="text-align: left; ">
                            <img [src]="'assets/images/' + categoryObj.category + '.png'"
                                style="width:2em;height:2em;margin-right: 2em;">
                            <span style="font-size:1.25rem"> {{categoryObj.category}}</span>
                        </div>
                        <div class="col-4" style="text-align: right; ">
                            <h5 style="color:dimgrey">{{categoryObj.price}} <small
                                    style="font-size: 0.475em">AED</small></h5>
                        </div>
                    </button>
                    <mat-menu #afterMenu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="openDialog(categoryObj, 'Budget-Edit', 100, 100)">Edit</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <!-- <div *ngFor="let group of groupedDataArray" style="padding:0.1em; margin:0.4em;margin-bottom: 1em;">
            <h3 style="color: #6d9773; ">{{ group.parent}}</h3>
            <div *ngFor="let item of group.items">
                <button class="form-grou row" [matMenuTriggerFor]="beforeMenu"
                    style="width: -webkit-fill-available;padding-top: 0.5em;padding-bottom: 0.5em;padding-bottom: 0.5em;border: none;background-color: #eceae875; border-radius: 10px;"
                    [ngStyle]="{'margin-bottom': group.items.length > 0 ? '0.3em': '0px'}">
                    <div class="col-5" style="text-align: left; ">
                        <h5 style="color:dimgrey">{{item.category}}</h5>
                    </div>
                    <div class="col-6" style="text-align: right; ">
                        <h5 style="color:dimgrey">{{item.price}} <small style="font-size: 0.475em">AED</small></h5>
                    </div>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openDialog(item, 'Budget-Edit', 100, 100)">Edit</button>
                </mat-menu>
            </div>
        </div> -->
    </div>
    <div class="" *ngIf="count == 0" style="margin: auto;text-align: center;margin-top:4em">
        <i class="fa fa-exclamation-triangle grey-color fa-5x"></i>
        <p></p>
        No record in this month
        <p></p>Tap + to add new category.
    </div>
</div>
<div *ngIf="loading" style="text-align: center;">
    <img src="./../../../assets/loading.gif" style="height: 15em;">
</div>