<div class="full">
    <div class="header">
        <div class="flex-between">
            <button class="logo-name" routerLink="/home">Budget</button>
            <span>
                <small style="font-size: 0.6em;margin-left:0.3em">AED</small>{{total | number:'1.2-2'}}
            </span>
            <button *ngIf="resData.length ==0" class="butn" (click)="addAllBudget()" style="color:#fff000">
                <i class="fa fa-plus-square fa-lg"></i>
            </button>
        </div>
        <div class="budget-card">
            <button class="butn" (click)="applyFilters('left')" style="color:#fff000">
                <i class="fa fa-chevron-left"></i>
            </button>
            <span style="font-size: 1em; margin-right:10px; margin-left:10px;">{{monthText}} {{year}}</span>
            <button class="butn" (click)="applyFilters('right')" style="color:#fff000">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>

    <div *ngIf="count > 0 && !loading" class="table-container">
        <div *ngFor="let parent of groupedDataKeys();let j=index" class="parent-div">
            <button class="parent-btn" (click)="supcatDiv = !supcatDiv" style="border-bottom:1px solid">
                <div class="flex-between" style="color:#03397e !important">
                    <span style="font-weight: bold;">{{ parent}}</span>
                    <i *ngIf="!supcatDiv" class="fa fa-chevron-right"></i>
                    <i *ngIf="supcatDiv" class="fa fa-chevron-down"></i>
                </div>
            </button>
            <div *ngIf="supcatDiv" style="width: 98%;margin:auto;">
                <div *ngFor="let subCategory of groupedData[parent] | keys; let i=index">
                    <button class="form-grou row" (click)="subCategory.display = !subCategory.display" class="subcat-btn"
                        [ngStyle]="{'margin-bottom': subCategory.value.length > 0 ? '0.3em': '0px'}">
                        <div class="flex-between">
                            <span>{{subCategory.key}}</span>
                            <i *ngIf="!subCategory['display']" class="fa fa-chevron-right"></i>
                            <i *ngIf="subCategory['display']" class="fa fa-chevron-down"></i>
                        </div>
                    </button>
                    <div *ngIf="subCategory['display']" class="row">
                        <div *ngFor="let categoryObj of subCategory.value" class="col-4">
                            <button [matMenuTriggerFor]="afterMenu" class="item-btn" [ngStyle]="{'margin-bottom': subCategory.value.length > 0 ? '0.3em': '0px'}">
                                <div style="text-align: left; ">
                                    <span style="font-size: 1.2em"> {{categoryObj.category}}</span>
                                    <h6 style="color:dimgrey">{{categoryObj.price}} <small style="font-size: 0.475em">AED</small></h6>
                                </div>
                            </button>
                            <mat-menu #afterMenu="matMenu" xPosition="after">
                                <button mat-menu-item (click)="openDialog(categoryObj, 'Budget-Edit', 100, 100)">Edit</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="" *ngIf="count == 0" style="margin: auto;text-align: center;margin-top:4em">
        <i class="fa fa-exclamation-triangle grey-color fa-5x"></i>
        <p></p>
        No record in this month
        <p></p>Tap + to add new category.
    </div>

    <div *ngIf="loading" style="text-align: center;">
        <img src="./../../../assets/loading.gif" style="height: 15em;">
    </div>
    <app-footer></app-footer>
</div>