.grey-color {
    color: #6c757d
}

select,
option {
    background-color: #fff !important;
}

.table-container {
    max-height: 78vh;
    overflow-y: auto;
}

h3 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.25em
}

span {
    font-size: 1.2em
}