.hideBtn {
    border: none;
    background: none;
}

.grey-color {
    color: #6c757d
}

input {
    width: 50%;
    height: 2.5em;
    font-size: 1em;
}

.table-container {
    max-height: 78vh;
    overflow-y: auto;
}

h3 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.25em
}

span {
    font-size: 1.2em
}