<div class="container-fluid" *ngIf="!loading">
    <span style="margin-right:1em">Income</span>
    <button type="button" class="btn btn-outline-primary" style="margin-right:1em" (click)="openDialogFilter('', 'category', 'Filter', 100, 100)">
        <i class="fa fa-filter blue-color"></i>
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="openDialogFilter('', 'category', 'Add', 100, 100)">
        <i class="fa fa-plus"></i>
    </button>
    <hr />
    <table class="table table-stripe table-responsive" style="background: none;">
        <thead>
            <tr>
                <th style="width:30%">Income</th>
                <th style="width:30%">Budget</th>
                <th style="width:20%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let income of incomes">
                <td *ngIf="!isUpdate">{{income.incomeName}}</td>
                <td *ngIf="!isUpdate">{{income.price}}</td>
                <td>
                    <div class="d-flex" style="text-align: center;">
                        <button style="text-decoration: none;background: none;border: none;"
                            [matMenuTriggerFor]="beforeMenu"><i class="fa fa-ellipsis-h blue-color"></i></button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item
                                (click)="openDialog(income, 'income', 'Edit', 100, 100)">Edit</button>
                            <button mat-menu-item
                                (click)="openDialog(income, 'income', 'Delete', 100, 100)">Delete</button>
                        </mat-menu>
                    </div>
                    <!-- <button *ngIf="isUpdate" class="hideBtn" title="Edit" (click)="modifyScreen('fill')"><i
                        class="fa fa-check blue-color"></i></button>
                <button class="hideBtn" title="Delete"><i class="fa fa-trash red-color"></i></button>
                <button class="hideBtn" title="Update"><i class="fa fa-sign-in blue-color"></i></button> -->
                </td>
            </tr>
        </tbody>
    </table>

    <div class="clear"></div>


</div>

<div *ngIf="loading" style="text-align: center;">
    <img src="./../../../assets/loading.gif" style="height: 23em;">
</div>