<div *ngIf="!loading">
    <div style="padding:0.7em;padding-top:1em;padding-bottom:1em; background-color: #39623f !important;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); border: none !important;">
        <h5 style="font-weight: bold;font-family: auto;text-align: left;color: #fff;">Expense Tracker</h5>
        <div class="row">
            <div class="col-5">
                <button type="button" class="btn" style="background-color: #6d9773;"
                    (click)="openDialog('', 'Expense-Add', 100, 100)">
                    <i class="fa fa-plus"><span style="margin-left:5px">Add Expense</span></i>
                </button>
            </div>
            <div class="col-5">
                <span style="float: right; font-weight: bold; color:#6d9773">Total : {{total}}</span>
            </div>
            <div class="col-2">
                <button type="button" style="float: right;background-color: #6d9773;" class="btn"
                    (click)="filterOn = !filterOn"><i class="fa fa-filter">
                        <span style="margin-left:5px"></span></i>
                </button>
            </div>
        </div>
        <div>
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
                <div style="text-align: center;margin-top:1em" *ngIf="filterOn" class="row">
                    <div class="col-5">
                        <select class="form-select" formControlName="filterMonth">
                            <option *ngFor="let month of months">
                                {{month}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select" formControlName="filterYear">
                            <option *ngFor="let year of years">
                                {{year}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn" style="background: #6d9773;"><i class="fa fa-search">
                                <span style="margin-left:5px"></span></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="count > 0" class="table-container">
        <table class="table table-stripe table-bordere table-responsive" style="background: none;">
            <thead style="background-color: #28f064c4 !important;">
                <tr>
                    <th style="width:25%">Date</th>
                    <th style="width:25%">Category</th>
                    <th style="width:20%">Note</th>
                    <th style="width:20%">Price</th>
                    <td style="width:5%"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expenseList">
                    <td>{{expense.date | date:'MMM, dd'}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{ (expense.note.length>5)? (expense.note | slice:0:5)+'...':(expense.note ) }}</td>
                    <td>{{expense.price}}</td>
                    <td>
                        <div class="d-flex" style="text-align: center;">
                            <button style="text-decoration: none;background: none;border: none;"
                                [matMenuTriggerFor]="beforeMenu"><i class="fa fa-ellipsis-v primary-color"></i></button>
                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                <button mat-menu-item
                                    (click)="openDialog(expense, 'Expense-Edit', 100, 100)">Edit</button>
                                <button mat-menu-item
                                    (click)="openDialog(expense, 'Expense-Delete', 100, 100)">Delete</button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="" *ngIf="count == 0" style="margin: auto;text-align: center;margin-top:4em">
        <i class="fa fa-exclamation-triangle grey-color fa-5x"></i>
        <p></p>
        No record in this month
        <p></p>Tap + to add new Expense.
    </div>
</div>
<div *ngIf="loading" style="text-align: center;">
    <img src="./../../../assets/loading.gif" style="height: 23em;">
</div>