<div *ngIf="!loading">
    <div style="padding:0.7em;padding-top:1em;padding-bottom:1em; background-color: #39623f !important;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); border: none !important;">
        <h5 style="text-align: center; font-weight: bold;font-family: cursive; color: #fff;">Expense Tracker</h5>
        <div class="row">
            <div class="col-3">
                <button type="button" class="btn" style="background-color: #6d9773;"
                    (click)="openDialog('', 'Expense-Add', 100, 100)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="col-6" style="text-align: center">
                <h4 style="font-weight: bold; color:#6d9773">Total : {{total | number:'1.2-2'}}
                    <small style="font-size: 0.475em">AED</small>
                </h4>
            </div>
            <div class="col-3">
                <button type="button" style="float: right; background-color: #6d9773;" class="btn"
                    (click)="filterOn = !filterOn"><i class="fa fa-filter"></i>
                </button>
            </div>
        </div>
        <div>
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
                <div style="text-align: center;margin-top:1em" *ngIf="filterOn" class="row">
                    <div class="col-5">
                        <select class="form-select" formControlName="filterMonth">
                            <option *ngFor="let month of months">
                                {{month}}</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <select class="form-select" formControlName="filterYear">
                            <option *ngFor="let year of years">
                                {{year}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn" style="background: #6d9773;"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="count > 0" class="table-container" style="margin-top:0.5em">
        <div *ngFor="let group of groupedDataArray" style="padding:0.1em; margin:0.4em;margin-bottom: 1em;">
            <h6 style="color: #6d9773; ">{{ group.date | date : 'MMM dd, EEEE'}}</h6>
            <div *ngFor="let item of group.items">
                <button class="form-grou row" [matMenuTriggerFor]="beforeMenu"
                    style="width: -webkit-fill-available;padding-top: 0.5em;padding-bottom: 0.5em;border: none;background-color: #eceae875; border-radius: 10px;"
                    [ngStyle]="{'margin-bottom': group.items.length > 0 ? '0.3em': '0px'}">
                    <div class="col-6" style="text-align: left;" >
                        <h5 style="color:dimgrey">{{item.category}}</h5>
                        <p style="margin-bottom:0; color:dimgrey">{{item.superCategory}} - {{item.parentCategory}}</p>
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <h5 style="color:dimgrey">{{item.price | number:'1.2-2'}} <small
                                style="font-size: 0.475em">AED</small></h5>
                        <p style="margin-bottom:0; color:dimgrey">{{item.note}}</p>
                    </div>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openDialog(item, 'Expense-Edit', 100, 100)">Edit</button>
                    <button mat-menu-item (click)="openDialog(item, 'Expense-Delete', 100, 100)">Delete</button>
                </mat-menu>
            </div>
        </div>
        <!-- <table class="table table-stripe table-bordere table-responsive" style="background: none; ">
            <thead style="background-color: #28f064c4 !important; ">
                <tr>
                    <th style="width:25%">Date</th>
                    <th style="width:25%">Category</th>
                    <th style="width:20%">Parent</th>
                    <th style="width:20%">Price</th>
                    <td style="width:5%"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of expenseList">
                    <td>{{expense.date | date:'MMM, dd'}}</td>
                    <td>{{expense.category}}</td>
                    <td>{{ (expense.parent.length>4)? (expense.parent | slice:0:4)+'..':(expense.parent ) }}</td>
                    <td>{{expense.price}}</td>
                    <td>
                        <div class="d-flex" style="text-align: center; ">
                            <button style="text-decoration: none; background: none; border: none; "
                                [matMenuTriggerFor]="beforeMenu"><i class="fa fa-ellipsis-v primary-color"></i></button>
                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                <button mat-menu-item
                                    (click)="openDialog(expense, 'Expense-Edit', 100, 100)">Edit</button>
                                <button mat-menu-item
                                    (click)="openDialog(expense, 'Expense-Delete', 100, 100)">Delete</button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div class="" *ngIf="count == 0" style="margin: auto; text-align: center; margin-top:4em">
        <i class="fa fa-exclamation-triangle grey-color fa-5x"></i>
        <p></p>
        No record in this month
        <p></p>Tap + to add new Expense.
    </div>
</div>
<div *ngIf="loading" style="text-align: center; ">
    <img src="./../../../assets/loading.gif" style="height: 15em; ">
</div>