.table-container {
    max-height: 60vh;
    overflow-y: auto;
    background: #fff;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
}

span {
    font-size: 1em;
}

select {
    font-size: 1.5em;
    background: rgb(16, 15, 15);
    color: #fff;
    border: none
}
