@import './../node_modules/bootstrap/dist/css/bootstrap.css';
@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './../node_modules/font-awesome/css/font-awesome.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


body {
    background-color: #fff;
    /* font-size: 3.2vw; */
}

::ng-deep {
    background-color: #fff;
}

.mat-dialog-content {
    max-height: 50vh;
  }