<!-- Category -->
<div class="pw-dialog" *ngIf="screen ==='Category-Add'">
    <h3>Add Category</h3>
    <hr />
    <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">

        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Financial Type</span>
            <div class="btn-group" role="group" aria-label="Category type selector"
                style="width: 100%; max-width: 260px;">
                <input type="radio" class="btn-check" formControlName="financialType" value="EXPENSE"
                    id="categoryTypeExpense" autocomplete="off" />
                <label class="btn btn-outline-primary" for="categoryTypeExpense" style="flex: 1;">Expense</label>

                <input type="radio" class="btn-check" formControlName="financialType" value="SAVINGS"
                    id="categoryTypeSavings" autocomplete="off" />
                <label class="btn btn-outline-primary" for="categoryTypeSavings" style="flex: 1;">Savings</label>
            </div>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Category Group</span>
            <input class="form-control" type="text" formControlName="categoryGroup" id="categoryGroup" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Main Category</span>
            <input class="form-control" type="text" formControlName="mainCategory" id="mainCategory" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Super Category</span>
            <input class="form-control" type="text" formControlName="superCategory" id="superCategory" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Category</span>
            <input class="form-control" type="text" formControlName="category" id="category" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Budget Amount</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="budgetAmount"
                id="budgetAmount" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Add</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog" *ngIf="screen ==='Category-Edit'">
    <h3>Update Category</h3>
    <hr />
    <form [formGroup]="editCategoryForm" (ngSubmit)="updateCategory()">

        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Financial Type</span>
            <div class="btn-group" role="group" aria-label="Category type selector"
                style="width: 100%; max-width: 260px;">
                <input type="radio" class="btn-check" formControlName="financialType" value="EXPENSE"
                    id="categoryTypeExpense" autocomplete="off" />
                <label class="btn btn-outline-primary" for="categoryTypeExpense" style="flex: 1;">Expense</label>

                <input type="radio" class="btn-check" formControlName="financialType" value="SAVINGS"
                    id="categoryTypeSavings" autocomplete="off" />
                <label class="btn btn-outline-primary" for="categoryTypeSavings" style="flex: 1;">Savings</label>
            </div>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Category Group</span>
            <input class="form-control" type="text" formControlName="categoryGroup" id="categoryGroup" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Main Category</span>
            <input class="form-control" type="text" formControlName="mainCategory" id="mainCategory" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Super Category</span>
            <input class="form-control" type="text" formControlName="superCategory" id="superCategory" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Category</span>
            <input class="form-control" type="text" formControlName="category" id="category" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Budget Amount</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="budgetAmount"
                id="budgetAmount" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 8em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Update</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog pw-dialog--center" *ngIf="screen ==='Category-Delete'">
    <h3>Delete Category</h3>
    <p></p>
    <span>Deleting this category will uncategorize the items.
        <p></p> Are you sure?
    </span>
    <p></p>
    <div class="d-flex flex-column align-items-center mb-3">
        <div class="form-check" style="text-align: left; min-width: 180px;">
            <input class="form-check-input" type="radio" name="deleteAction" id="actionSoft"
                [value]="data.item.status ? 'INACTIVE' : 'ACTIVE'" [(ngModel)]="deleteAction" style="cursor: pointer;">
            <label class="form-check-label" for="actionSoft" style="cursor: pointer; color: var(--pw-text);">
                {{ data.item.status === 'ACTIVE' ? 'Mark as Inactive' : 'Mark as Active' }}
            </label>
        </div>
        <div class="form-check mt-2" style="text-align: left; min-width: 180px;">
            <input class="form-check-input" type="radio" name="deleteAction" id="actionPermanent" value="delete"
                [(ngModel)]="deleteAction" style="cursor: pointer;">
            <label class="form-check-label" for="actionPermanent" style="cursor: pointer; color: var(--pw-text);">
                Delete permanently
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button class="btn btn-warning" style="margin-right: 1em;" (click)="deleteCategory()">Confirm</button>
            <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>

<!-- Budget -->
<div class="pw-dialog" *ngIf="screen ==='Budget-Edit'">
    <h3>Edit Budget</h3>
    <hr />
    <form [formGroup]="editBudgetForm" (ngSubmit)="editBudget()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Category</span>
            <input class="form-control" type="text" formControlName="category" readonly id="category" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Price</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="budgetAmount"
                id="budgetAmount" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Update</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Expense -->
<div class="pw-dialog" *ngIf="screen ==='Expense-Add'">
    <h3>Add Expense</h3>
    <hr />
    <form [formGroup]="addExpenseForm" (ngSubmit)="addExpense()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Category</span>
            <select #categorySelect class="form-select" formControlName="categoryId"
                (change)="onCategoryChange(categorySelect.value)">
                <option *ngFor="let category of categoryList" [value]="category.categoryId">
                    {{category.mainCategory}} - {{category.superCategory}} - {{category.category}}</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Main Category</span>
            <input class="form-control" type="text" formControlName="mainCategory" readonly />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Sub Category</span>
            <input class="form-control" type="text" formControlName="superCategory" readonly />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Category Group</span>
            <input class="form-control" type="text" formControlName="categoryGroup" readonly />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Amount</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="amount" id="amount" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 10em;">Description</span>
            <textarea class="form-control" type="text" formControlName="description" id="description"></textarea>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Add</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog" *ngIf="screen ==='Expense-Edit'">
    <h3>Edit Expense</h3>
    <hr />
    <form [formGroup]="editExpenseForm" (ngSubmit)="editExpense()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Category</span>
            <select class="form-select" formControlName="category">
                <option *ngFor="let category of categoryList" [ngValue]="category.category">
                    {{category.mainCategory}} - {{category.superCategory}} - {{category.category}}</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">amount</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="amount" id="amount" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Description</span>
            <textarea class="form-control" type="text" formControlName="description" id="description"></textarea>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Update</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog pw-dialog--center" *ngIf="screen ==='Expense-Delete'">
    <h3>Delete Expense</h3>
    <p></p>
    <span>Deleting this Expense will impact
        <p></p>the budget and reports.
        <p></p> Are you sure?
    </span>
    <p></p>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button class="btn btn-warning" style="margin-right: 1em;" (click)="deleteExpense()">Delete</button>
            <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>
<!-- Income -->
<div class="pw-dialog" *ngIf="screen ==='Income-Add'">
    <h3>Add Income</h3>
    <hr />
    <form [formGroup]="addIncomeForm" (ngSubmit)="addIncome()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Name</span>
            <input class="form-control" type="text" formControlName="name" id="name" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Category</span>
            <input class="form-control" type="text" formControlName="category" id="name" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Price</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="price" id="price" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Note</span>
            <textarea class="form-control" type="text" formControlName="note" id="note"></textarea>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Add</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog" *ngIf="screen ==='Income-Edit'">
    <h3>Edit Income</h3>
    <hr />
    <form [formGroup]="editIncomeForm" (ngSubmit)="editIncome()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Name</span>
            <input class="form-control" type="text" formControlName="name" id="name" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Price</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="price" id="price" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Note</span>
            <textarea class="form-control" type="text" formControlName="note" id="note"></textarea>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Update</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog pw-dialog--center" *ngIf="screen ==='Income-Delete'">
    <h3>Delete Income</h3>
    <p></p>
    <span>Deleting this Income will impact
        <p></p>reports.
        <p></p> Are you sure?
    </span>
    <p></p>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button class="btn btn-warning" style="margin-right: 1em;" (click)="deleteIncome()">Delete</button>
            <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>

<!-- Bank -->
<div class="pw-dialog" *ngIf="screen ==='Bank-Record-Add'">
    <h3>Add Bank Record</h3>
    <hr />
    <form [formGroup]="addBankRecordForm" (ngSubmit)="addBankRecord()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Bank</span>
            <select class="form-select" formControlName="name">
                <option value="ENBD">ENBD</option>
                <option value="HDFC">HDFC</option>
                <option value="Mashreq">Mashreq</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Price</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="price" id="price" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Add</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog" *ngIf="screen ==='Bank-Record-Edit'">
    <h3>Edit Expense</h3>
    <hr />
    <form [formGroup]="editBankRecordForm" (ngSubmit)="editBankRecord()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Bank</span>
            <select class="form-select" formControlName="name">
                <option value="ENBD">ENBD</option>
                <option value="HDFC">HDFC</option>
                <option value="Mashreq">Mashreq</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Price</span>
            <input class="form-control" type="number" inputmode="decimal" formControlName="price" id="price" />
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em;width: 6em;">Date</span>
            <mat-form-field class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="date" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;">Update</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div class="pw-dialog pw-dialog--center" *ngIf="screen ==='Bank-Record-Delete'">
    <h3>Delete Record</h3>
    <span>Are you sure?</span>
    <p></p>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button class="btn btn-warning" style="margin-right: 1em;" (click)="deleteBankRecord()">Confirm</button>
            <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>

<div class="pw-dialog" *ngIf="screen === 'Category-Copy'">
    <h3>Copy Categories</h3>
    <hr />
    <form [formGroup]="copyCategoriesForm" (ngSubmit)="copyCategories()">
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em; width: 8em;">Month</span>
            <select class="form-select" formControlName="month">
                <option *ngFor="let m of months" [value]="m">{{m}}</option>
            </select>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span id="inputGroup-sizing-sm" style="margin-right: 1em; width: 8em;">Year</span>
            <select class="form-select" formControlName="year">
                <option *ngFor="let y of years" [value]="y">{{y}}</option>
            </select>
        </div>
        <div class="form-group row mt-4">
            <div class="col" style="text-align: center;">
                <button type="submit" class="btn btn-warning" style="margin-right: 1em;"
                    [disabled]="!copyCategoriesForm.valid">Copy</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Reports -->
<div class="pw-dialog" *ngIf="screen ==='fetch-category-report-details'">
    <h3>Expense Details for {{main}}</h3>
    <hr />
    <div class="row" *ngFor="let item of reportsDetailsList"
        style="margin-bottom: 1em; border-bottom: 1px solid dimgrey">
        <div class="col-8" style="text-align: left;">
            <span style="color: rgba(22, 163, 74, 0.95);font-weight: bold;">{{item.note}}</span>
            <br />
            <span style="color: dimgrey">{{item.date | date : 'dd, MMM'}}</span>
        </div>
        <div class="col-4" style="text-align: right;">
            <span style="color: #6d9773">
                {{item.price | number:'1.2-2'}}
                <small style="font-size: 0.475em">AED</small>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
        </div>
    </div>
</div>

<div class="pw-dialog" *ngIf="screen ==='fetch-sub-category-report-details'">
    <h3>Expense Details for {{main}}</h3>
    <hr />
    <div class="row" *ngFor="let item of reportsDetailsList"
        style="margin-bottom: 1em; border-bottom: 1px solid dimgrey">
        <div class="col-6" style="text-align: left;">
            <h6 style="color: dimgrey">{{item.category}}</h6>
            <h6 style="color: #6d9773">{{item.note}}</h6>

        </div>
        <div class="col-6" style="text-align: right;">
            <h6 style="color: dimgrey">{{item.date | date : 'dd, MMM'}}</h6>
            <h5 style="color: #6d9773">
                {{item.price | number:'1.2-2'}}
                <small style="font-size: 0.475em">AED</small>
            </h5>
        </div>
    </div>
    <div class="form-group row">
        <div class="col" style="text-align: center;">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
        </div>
    </div>
</div>